<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Test Executor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <h1 class="mt-2">Test Executor <span><font size="3"><a href="{# url 'upload' #}"> </a></font></span></h1>
                </div>
                <div class="col-3 mt-4" align="left">
                    {% if user.is_authenticated %}
                        <p>
                            <a href="{% url 'logout' %}">LOGOUT
                                <span class="col-3">
                                    {% if form %}
                                        <a href="{% url 'result' %}">RESULTS</a>
                                    {% endif %}
                                </span>
                            </a>
                        </p>
                    {% else %}
                        <p>
                            <a href="{% url 'login' %}">LOGIN <span class="col-3">

                            <a href="{% url 'signup' %}">SIGNUP</a>
                        </span></a></p>
                    {% endif %}
                </div>
                <div class="col-3 mt-4" align="right">
                    {% if user.is_authenticated %}
                        {% if executors %}
                            <p><a href="{% url 'home' %}">RUN TEST</a></p>
                        {% endif %}
                    {% endif %}
                </div>

            </div>
            <hr class="mt-0 mb-4">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
</script>
<script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
{% block script %}
{% endblock %}

</body>
</html>
